<form action="<%= change_skill_battle_path(@battle)%>" method="post">
    <input type="text" name="pokemon_id" value="<%= @pokemon_i.id%>" hidden>
    <input type="text" name="pokemon_skill_id" value="<%= pokemon_i_skill.id%>" hidden>
    <input type="text" name="battle_id" value="<%= @battle.id%>" hidden>
    <input type="submit" value="Change" class ="rounded-md bg-blue-500 py-1 px-5 text-white font-semibold">
</form>