<form action="<%= change_skill_state_battle_path(battle)%>" method="post">
    <input type="text" name="id_battle" value="<%= battle.id%>" hidden>
    <button type="submit" class = "bg-blue-500 text-white font-bold px-5 py-2 w-full rounded-md">
        Change
    </button>
</form>