<form action="<%= dont_change_or_add_skill_state_battle_path(battle)%>" method="post">
    <input type="text" name="id_battle" value="<%= battle.id%>" hidden>
    <button type="submit" class = "bg-red-500 text-white w-full font-bold px-5 py-2 rounded-md">
        Don't Change
    </button>
</form>