/* .pokemon-form{
    width: 30%;
} */

.pokemon-image div{
    width: 100%;
}

.pokemon-image div p{
    width: 100%;
}

.pokemon-hp{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    color: white;
    background-color: green;
}
.pokemon-exp{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: cyan;
}

.pokemon-hp-label{
    margin-right: 5px;
}
.pokemon-exp-label{
    margin-right: 5px;
}